
body {
	    width:80%;
		margin:auto;
		background-color: #aeb6bf;
		background-image: url("../images/healthrecord.jpg");
	    background-size: 100%;
		background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-position: center;
}


#div1 {
		 padding:20px;
	     width: 31%;
	     text-align: center;
	     font-size: 30px;
	     /*background-color: rgba(208, 225, 250,0.85);*/
	     background-color: #00b8e6;
	     border-radius: 5px;
	     margin:120px 0px 0px 300px;

}

#div2 {
		text-align: center;
		width: 30%;
		margin-left: 300px;
		padding-top: 30px;
		padding-right: 31px;
		padding-left: 20px;
		min-height: 161px;
		/*background-color: rgba(255, 255, 255,0.6);*/
		background-color: #94cfdf;
		border-radius: 5px;
	
}

#div2 #login {
				float: right;
				margin-right: 42px;
				/*background-color:transparent;*/
				color: #004b8d;
				border-style: none;
				font-size: 15px;

}

#forgot_password {
					float: right;
					margin-right: 42px;
}

#forgot_password,#remember_me {
	               background-color: transparent;
	               color: #004b8d;
	               border-style: none;
}

label {
	    background-color: transparent;
	    color: #004b8d;
	    border-style: none;
}

#username,#password {
		height: 25px;
		width: 200px;

}

input:focus {
				background-color:  #d5d8dc;

}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  
	body {
			margin:auto;
			background-color: #aeb6bf;
			background-size: 620px 100%;
	}

	#div1 {
			 
		     width: 85%;
		     margin:120px 0px 0px 5px;
    }

	#div2 {
			
			width: 81%;
			margin-left: 5px;
	}

	#div2 #login {
					margin-right: 30px;
	}

	#forgot_password {
						margin-right: 20px;
	}


}